@model html5Templates.Web.Models.KitchenSink

@{
    ViewBag.Title = "ViewPage1";
}

<h2>ViewPage1</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>KitchenSink</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.RegularString)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegularString)
            @Html.ValidationMessageFor(model => model.RegularString)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Search)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Search)
            @Html.ValidationMessageFor(model => model.Search)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateTime)
            @Html.ValidationMessageFor(model => model.DateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateTimeLocal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateTimeLocal)
            @Html.ValidationMessageFor(model => model.DateTimeLocal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOnly)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOnly)
            @Html.ValidationMessageFor(model => model.DateOnly)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeOnly)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeOnly)
            @Html.ValidationMessageFor(model => model.TimeOnly)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Month)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Month)
            @Html.ValidationMessageFor(model => model.Month)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Week)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Week)
            @Html.ValidationMessageFor(model => model.Week)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Number)
            @Html.ValidationMessageFor(model => model.Number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Color)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Color)
            @Html.ValidationMessageFor(model => model.Color)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

